*{
  margin: 0;
  padding: 0;
}

.background{
  background-color: #1B6122;
  opacity: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  background-image: url("../../chess-pieces-jin.png");
  background-repeat: no-repeat;
  background-position: bottom;
  flex-direction: column;
  
}


.container{
  background-color: grey;
  height: 35vh;
  width: 35%;
  display: flex;
  border: solid 1px black;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  opacity: 90%;
}

input{
  height: 5vh;
  width: 100%;

}
.title{
  margin-bottom: 25vh;
  font-size: 50px;
}