*{
  margin: 0;
  padding: 0;
}

.background{
  background-color: #111D4A;
  opacity: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  background-image: url("../../chess-pieces-jin.png");
  background-repeat: no-repeat;
  background-position: bottom;
  flex-direction: column;
  
}


.container{
  background-color: #FFCF99;
  height: 35vh;
  width: 35%;
  display: flex;
  border: solid 1px #1E1E24;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  opacity: 90%;
}

input{
  height: 5vh;
  width: 100%;

}
.title{
  margin-bottom: 35vh;
  font-size: 50px;
  color: #FFCF99;
text-align: center; 

}
.ratings p{
  margin-bottom: 0.5vh;
}